<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <armanet>
      <settings>
        <api_key></api_key>
        <enable_tracking>1</enable_tracking>
        <enable_feed>1</enable_feed>
        <enable_login_event>1</enable_login_event>
        <enable_registration_event>1</enable_registration_event>
        <debug_mode>0</debug_mode>
        <upc_attribute>upc</upc_attribute>
        <excluded_customer_groups></excluded_customer_groups>
      </settings>
    </armanet>
  </default>
</config>
