<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <armanet>
      <settings>
        <api_key></api_key>
        <enable_tracking>1</enable_tracking>
        <enable_feed>1</enable_feed>
      </settings>
    </armanet>
  </default>
</config>
